/* Here we define the style of our templates */
/* General Syntax */
/* selector {
    property:value;
    anotherproperty:anothervalue
} */ 

/* CHange the style by picking a tag */

h1 {
    color: #f1d302;
}

p {
    color: #44FFD1;
}
p1 {
    color: #f1d302;
}

img {
    border-radius: 400px;
}

img:hover {
    box-shadow: 3px 3px 6px;
}

body {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    background-image: url('cinema.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #000000;
}
/* CHange the style by picking the id of tag */

#rating-paragraph {
    color:#44FFD1
}



/* CHange the style by picking the class of tag */

.form {
    width: 75px;
    background-color: #ffffff;
    
}

.form:hover {
    box-shadow: 3px 3px 6px;
    background-color: #44FFD1;
}
